body {
  font-family: 'Lobster', cursive;
  font-size: 25px;
}
form {
  margin-bottom: 20px;
}

#review {
  margin-top: 20px;
}

#previous {
  margin-bottom: 20px;
}

.total {
  font-size: 50px;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
}
.App-footer {
  position: fixed;
  font-size: 15px;
  opacity: 0.8;
}

.App-title {
margin: auto;
width: 50%;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.918);
  color: white;
  text-align: center;
  height: 4%;
  
}